$ui-white: rgba(255, 255, 255, 1); /* #FFFFFF 白色*/
$ui-red: rgba(255, 51, 51, 1); /* #FF3333; */
$ui-green: rgba(68, 201, 47, 1); /* #44C92F; */
$ui-yellow: rgba(255, 180, 0, 1); /* #FFB400 */
$ui-info: rgba(100, 100, 100, 1); /* #646464 文本主色调1 */
$ui-gray: rgba(201, 212, 210, 1); /* #C9D4D2; */
$ui-mask: rgba(0, 0, 0, .8); /* 遮罩样式 */


